<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Html&Shell&cloud</title>

    <link rel="stylesheet" href="./css/index.css">

</head>

<body>
    <div class="container">
        <div class="bar">
            <h2>Cloud&Nodejs&Shell</h2>
        </div>
        <div class="split left">
            <h1>Welcome to cloud Desktop</h1>
            <p>Html with Nodejs</p>
            <a href="/cloud" class="btn">Start</a>
        </div>
        <div class="split right">
            <h1>The remote control</h1>
            <p>Real-time return data</p>
            <a href="/cloud" class="btn">Begin</a>
        </div>
    </div>
    <script src="./js/index.js"></script>
</body>

</html>