<section class="bg"></section>
<style>
    .bar {
        position: absolute;
        width: 100%;
        z-index: 1000;
        height: 40px;
        background-color: white;
        display: flex;
        align-items: center;
        opacity: 0.5;
        padding: 1.5rem;
        box-shadow: 3px 3px 10px black;
    }

    .nav-itme {
        position: relative;
        left: 40px;
        font-size: 18px;
        font-family: inherit;
        display: inline;
        padding: 10px 0px;
        margin: 10px;
        color: #023047;
        font-weight: 700;
    }
</style>
<div class="container">
    <div class="bar">
        <h1>Shell-Index</h1>
        <div class="nav-itme"><a>资源状态</a></div>
        <div class="nav-itme"><a>一键启动</a></div>
    </div>